<div class="card-columns">
    {{#each articles}}
    <div class="card" data='{{this._id}}'>
        <div class="card-body">
            <h5 class="card-title">{{this.headline}}</h5>
            <img src={{this.image}} class="card-img-top">
            <p>Author(s): {{this.author}}</p>
            <p class="card-text">{{this.summary}}</p>
            <a href={{this.url}}>{{this.url}}</a>
            <a class="btn btn-primary btn-notes">Article Notes</a>
            <a class="btn btn-primary btn-unsave" data-toggle="modal" data-target="#notes-modal">Delete from Saved</a>
        </div>
    </div>
    {{/each}}
    <!-- Modal -->
    <div class="modal fade"  tabindex="-1" id="notes-modal">
    </div>
    {{!-- <div class="modal fade" id="notes-modal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-note">Save Note</button>
                </div>
            </div>
        </div>
    </div> --}}
</div>